<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div id="titulo">
    <img [src]="'../../assets/images/categories/sw.png'">
  </div>
  <ion-card-header><h1>Wiki Star Wars, ver 1.0</h1></ion-card-header>


  <ion-card-content>
    <p>La App Wiki de Star Wars es una herramienta interactiva y actualizada que reúne de manera organizada información detallada sobre personajes, naves, planetas y eventos del universo, ofreciendo una interfaz intuitiva que facilita la exploración y búsqueda de contenido de películas, series y cómics, y convirtiéndose en una referencia indispensable para los aficionados.</p>
    <p id="copyright">© 2024 Gestión de calidad del software INC.</p>
  </ion-card-content>
   
  </ion-card>
  
  
</ion-content>
